.modal-overlay {
  z-index: 1000;
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  background-color:rgba(145,145,145, 0.5);
}

.modal {
  z-index: 1001;
  margin-left: 7%;
  width: 86%;
  margin-top: 10%;
  position: relative;
  background: -webkit-linear-gradient(115deg, #fa6363, rgb(255, 230, 230));
  border-radius: 2px;
  color: rgb(25, 25, 25);
  cursor: default;
}

.li-modal {
  font-size: 2vw;
  margin-left: 20px;
  text-align: left;
  
}

.exit {
  float: right;
  color: black;
  font-size: 15px;
  right: 10px;
  position: relative;
  margin-top: 5px;
  cursor: pointer;
}

.modal-title {
  font-size: 3vw;
  text-align: center;
}

.modal-content {
  font-size: 2.5vw;
  text-align: justify;
  margin-left: 5px;
}

.hidden {
  display: none;
}
