nav {
  background-color: rgb(69, 67, 67);
}

.navbar-element {
  font-family: 'Poppins', sans-serif;
  background: transparent;
  color: #fa6363;
  height: 60px;
  font-size: 28px;
  line-height: 60px;
  border-color: transparent;
}

.navbar-left {
  margin-left: 20px;
  float: left;
}

.navbar-right {
  margin-right: 20px;
  float: right;
}

.navbar-button {
  cursor: pointer;
}

.navbar-button:hover {
  color:rgb(144, 100, 221);

}


.container {
  cursor: default;
  margin-top:5px;
}
#tempo {
  cursor: default;
  display: block;
  height: 25px;
  line-height: 25px;
}

#current-tempo {
  display: block;
  cursor: default;
  font-size: 18px;
  height: 25px;
  line-height: 25px;
}
