nav {
  background-color: rgb(69, 67, 67);
  position: absolute;
  width: 100%;
}

.navbar-element {
  background: transparent;
  color: #fa6363;
  font-size: 2.5vw;
  line-height: 6vw;
  border-color: transparent;
}

.navbar-left {
  margin-left: 1.5vw;
  float: left;
}

.navbar-right {
  margin-right: 20px;
  float: right;
}

.navbar-button {
  cursor: pointer;
}

.navbar-button:hover {
  color:rgb(167, 123, 244)
}

.navbar-selected {
  color:rgb(144, 100, 221);
}

.navbar-title {
  width: 20%;
  display: inline;
  left: 40%;
  right: 40%;
  position: absolute;
  text-align: center;
}





.container {
  cursor: default;
  margin-top:1.3vw;
}
#tempo {
  cursor: default;
  display: block;
  line-height: 3vw;
  width: 15vw;
}

#current-tempo {
  display: block;
  cursor: default;
  font-size: 1.5vw;
  line-height: 3vw;
}
